body,
html {
  font-family: "poppins", sans-serif;
  color: #fafafa;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

canvas {
  position: absolute;
  opacity: transparent;
  top: 0;
  left: 0;
}

main {
  height: 100%;
  z-index: 1;
  position: relative;
  background: radial-gradient(
    ellipse at bottom,
    rgba(27, 39, 53, 0.6) 10%,
    rgba(9, 10, 15, 0.6) 100%
  );
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  display: grid;
}

main section {
  scroll-snap-align: start;
  scroll-padding-top: 15vh;
  height: 100vh;
  display: grid;
  align-content: center;
}

.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  bottom: 0;
  position: absolute;
  transform: translateX(50vw);
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}

.first {
  margin-top: 1px;
}

.first,
.second,
.third {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.first {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;

  animation-direction: alternate;
  animation-delay: alternate;
}

.second {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;
  animation-delay: 0.2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.third {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;
  animation-delay: 0.3s;
  animation-direction: alternate;
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;

  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-o-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#section-up {
  position: fixed;
  width: 48px;
  height: 48px;
  right: 13px;
  bottom: 20px;
  padding: 0;
  margin: 0;
  opacity: 0;
  box-shadow: 0px 0px 10px #808080;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3 s ease-in-out;
}

#section-up i {
  font-size: 24px;
  color: rgb(207, 56, 91);
}

.section-title {
  margin-bottom: 50px;
  text-transform: capitalize;
  font-size: 32px;
  text-align: center;
}

/* Home */
#title {
  color: #fff;
  text-align: center;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.title-text,
.subtitle-text {
  background: -webkit-linear-gradient(white, rgb(42, 65, 90));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-text {
  font-size: 6vw;
}

.subtitle-text {
  font-size: 3vw;
}

/* Expertise */
#expertise {
  display: grid;
  margin: 0 10vw;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

#expertise > div {
  height: 100%;
  padding: 30px 25px;
  border-top: 3px solid #a3a3a3;
  border-bottom: 3px solid #a3a3a3;
  display: grid;
  grid-auto-rows: 1fr 2fr;
}

#expertise > div img {
  width: 48px;
  height: 48px;
  margin-top: 6px;
  margin-right: 6px;
}

#expertise > div:first-child {
  border-left: 3px solid #a3a3a3;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

#expertise > div:last-child {
  border-right: 3px solid #a3a3a3;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

#expertise > div:not(:first-child):not(:last-child) {
  border-left: 2px solid #a3a3a3;
  border-right: 2px solid #a3a3a3;
}

.expertise-title {
  font-size: 24px;
}

.expertise-title-container {
  display: flex;
}

.magenta-gradient span {
  background: linear-gradient(
    0deg,
    rgba(207, 56, 91, 0) 0%,
    rgba(207, 56, 91, 0) 15%,
    rgba(207, 56, 91, 1) 15%,
    rgba(207, 56, 91, 1) 35%,
    rgba(207, 56, 91, 0) 0%
  );
}

.meadow-gradient span {
  background: linear-gradient(
    0deg,
    rgba(38, 187, 152, 0) 0%,
    rgba(38, 187, 152, 0) 15%,
    rgba(38, 187, 152, 1) 15%,
    rgba(38, 187, 152, 1) 35%,
    rgba(38, 187, 152, 0) 0%
  );
}

.lake-gradient span {
  background: linear-gradient(
    0deg,
    rgba(46, 161, 203, 0) 0%,
    rgba(46, 161, 203, 0) 15%,
    rgba(46, 161, 203, 1) 15%,
    rgba(46, 161, 203, 1) 35%,
    rgba(46, 161, 203, 0) 0%
  );
}

.expertise-title span {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.expertise-body {
  margin-top: 10px;
  margin-left: 54px;
}

/* Career */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10vw;
}

.accordion-item {
  background-color: transparent;
  border-radius: 0.4rem;
}

.accordion-item hr {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.accordion-link {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.accordion-link i {
  color: #e7d5ff;
  padding: 0.5rem;
}

.accordion-link ul {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.accordion-link li {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
  padding-right: 5px;
}

.accordion-link-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.accordion-link-title {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}

.accordion-link-company {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}

.accordion-link-years {
  font-size: 12px;
  align-self: center;
  font-weight: 500;
  margin: 0;
}

.accordion-link .ion-md-arrow-down {
  display: none;
}

.description {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  transition: max-height 650ms, background-color 650ms;
}

.description p {
  color: #fff;
  font-size: 15px;
}

.description a,
.description a:link,
.description a:visited {
  color: rgb(207, 56, 91);
  text-decoration: none;
}

.description a:hover {
  color: rgb(46, 161, 203);
  text-decoration: none;
}

.logos {
  position: fixed;
  right: 13px;
  font-size: 32px;
}

.logos .icon {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-color: white;
  background-image: -webkit-linear-gradient(white, rgb(42, 65, 90));
  background-size: 100%;
  background-repeat: repeat;
  text-decoration: none;
}

.logos .icon:hover {
  background-image: -webkit-linear-gradient(white, rgb(46, 161, 203));
  text-decoration: none;
}

.ion-logo-linkedin {
  font-size: 34px;
}

.accordion-item:target .description {
  max-height: 20rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.accordion-item:target .accordion-link .ion-md-arrow-forward {
  display: none;
}

.accordion-item:target .accordion-link .ion-md-arrow-down {
  display: block;
}
